@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

body,
button,
input,
select,
textarea {
	font-family: "Advent Pro", sans-serif;
	font-size: 20px;
	line-height: 1.5;
    letter-spacing: 2px;
    font-weight: lighter;
}
